// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

body {
  background: gray;
}
.picContainer {
    display: inline-block;
    background-color: black;
    width: 250px;
    height: 200px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 85px;
    cursor: pointer;

    img {
      // height: 50px;
    }
    p {
      color: white;
      font-size: 16px;
      width: 100%;
    }
}
.heart {
  background-image: url('http://images.clipartpanda.com/hardball-clipart-gg61325700.jpg');
  background-repeat: no repeat;
  background-position: center;
}


