// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";


body {
  background: #e2ebf3;
}
h3 {
  margin-top: 20px;

}
form {
  width: 400px;
  display: inline-block;
  margin-top: 40px;
}
input {
  margin: 100px;
}
button {
  display: inherit;
}
.picContainer {
  display: inline-block;
  width: 250px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
